<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand name">ANTHONY ZHANG</span>
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/project">Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>