nav {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2);
}

.name {
  margin-left: 2rem;
}

.nav-item{
  margin-right: 5rem;
  /* background-color:gainsboro; */
}
.nav-item:hover {
  text-shadow:0px 0px 1px gray;
}

a.active {
  text-shadow:0px 0px 1px black !important;
}