<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid nav-wrapper">
        <span class="navbar-brand name">ANTHONY ZHANG</span>
        <div class="navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/education']" routerLinkActive="active">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/experience']" routerLinkActive="active">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/project']" routerLinkActive="active">Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>