.b{
  height:auto;
}
#companyName{
  color: White;
  background-image: url('../img/sun.png');
  background-size: cover;
  height:10vh;
  margin: 0;
}
.customLinks{
  margin-left: 20px;
  margin-right: 20px;
}
.customBrand{
  border-style: solid;
  padding-left: 8px;
  padding-right: 8px;
}
.toRight{
  left=0;
}

.fadeInAn{
  transition: background-color 0.5s;
}
div.bodyContent{
  height:auto;
  background-color: blue;
}
div.firstBlock{
  position: relative;
  width:100%;
  padding-top: 26%;
  overflow: auto;
  background-image: url('../img/background1.jpeg');
  background-size: cover;

}
div.wordsBlock{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  max-width: 30%;
  background-color:white;
  float: left;
  overflow: auto;
}
div.imageBlock1{
  position: absolute;
  top: 0;
  left:30%;
  bottom: 0;
  right: 0;
  height: 100%;
  width:30%;
  background-color:green;
  float:left;
  margin-left:5%;

}
div.imageBlock2{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color:yellow;
  float:right;
}
div.leftArrow{
  position: absolute;
  height:10%;
  width:10%;
  top:50%;
  background-color: white;
  opacity: 0.5;
}

div.rightArrow{
  position: absolute;
  height:10%;
  width:10%;
  top:50%;
  background-color: white;
  opacity: 0.5;
  right:0;
  text-align: right;
}

.im1{
  width: 100%;
  height: 100%;
}
.im2{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
